__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
results/
.snakemake/
*.bam
*.sam
*.bai
*.vcf
*.vcf.gz
*.vcf.gz.tbi
data/reference/*.fa
data/reference/*.fa.*
data/reference/*.gz
data/raw/
workflow/.snakemake/
